.DS_STORE
__pycache__
venv/
webapp/backend/aiserver.db
webapp/frontend/src/AppSettings.js
webapp/backend/settings.json
package-lock.json
webapp/frontend/package-lock.json
webapp/backend/.vscode/
.env
**/*.db
mounts/
user_config/Caddyfile
user_config/settings
webapp/backend/docker/local_overrides.py
.vscode
.settings_just_created
.server_type